.header__inner {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.header__logo {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  width: 20%;
}
.header__logo em {
  font-size: 18px;
  font-weight: 400;
}
.header__menu {
  width: 60%;
  text-align: center;
}
.header__menu li {
  display: inline;
}
.header__menu li a {
  padding: 13px 30px;
  margin: 0 5px;
  transition: background-color 0.33s;
}
.header__menu li a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}
.header__member {
  width: 20%;
  text-align: right;
}
.header__member a {
  font-size: 16px;
  border: 1px solid #000;
  padding: 10px 30px;
  border-radius: 50px;
}
header .nav-btn {
  display: none;
}

@media only screen and (max-width: 1210px) {
  .header__menu {
    width: 80%;
    text-align: right;
  }
  .header__menu ul {
    padding: 10px 0px;
  }
  .header__menu li a {
    padding: 13px 15px;
  }
  .header__member {
    display: none;
  }
}

@media only screen and (max-width: 910px) {
  #headerType {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .header__inner {
    height: 60px;
  }
  .header__logo {
    width: 50%;
  }
  .header__menu ul {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #f1f1f1;
    transition: 1s;
    transform: translateY(-100vh);
  }
  header .responsive_nav {
    transform: none;
  }
  header .nav-btn {
    display: block;
    font-size: 30px;
    padding-top: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

@media only screen and (max-width: 510px) {
  .header__logo em {
    display: none;
  }
}
